

/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos base*/

body{
    background: white;
    background-color: rgba(211,211,211);
    font-family: 'Arial', Times, serif;
    color: black;

    }
    main{
      height: 100%vh;
      margin-bottom: 10px;
    }
.container{
    background: url('../img/istockphoto-1144482378-170667a.jpg');
}


header .container, header .logo1{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-between;
    
    margin: 0px;
    padding-bottom: 5px;



}
.link{
    text-decoration: none;
    color:black;
    margin: auto;
    display: flex;

    

}
#voltar{
  margin-left: 15px;
  display:flex;
  display:inline;
  
  
}
h4{
    padding-right:5px;
    
    
}
.voltar{
  margin-left: 12px;
  
  color:blue;
  
}

header .logo{
    margin-left: 5px;
    color: white;
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-size: 1.2em;
}

header nav a:hover{
    color: #fff;
    font-weight: bold;
    
}




/*filme principal*/

.filme-principal{
    font-size: 16px;
    background-color: rgba(211,211,211);
    display:flex;
   
    height: 850px; 
   

    
}

.filme-principal .descricao{
   
}

.filme-principal .titulo{
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.container{
    margin-left: 20px;
    margin-right: 10px;
    padding-left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.356);
}

.filme-principal .container{
    width: 70%;
}
.janela_menu{
  display:flex;
  width: 230px;
  height: 50px;
  background-color: aliceblue;
  margin: auto;
  margin-top: 10px;
  border-radius: 50px;
  border: 2px solid gray;
  
 
}
.janela_menu_chuteira{
  display:flex;
  width: 230px;
  height: 50px;
  background-color: aliceblue;
  margin:auto;
  border: 2px ;
  margin-top: 10px;
  padding-top: 45px;
  padding:7px;
  border-radius: 50px;
  border: 2px solid gray;
}
.menu_moda{
  margin: 20px;
  height: 400px;
  margin-bottom: 10px;
  margin-bottom: 40px;
 
  
  
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel{
    padding-top: 30px;
    background-color: rgba(211,211,211);
}

p{
    color:white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    
    padding: 10px;
    width: 100%;
    bottom: 0;
    left: 0;
      
}
#links-fixos{
    /*você pode alterar largura usando width*/
         
    position:fixed;
    bottom:180px;/*altura da classe*/
    right: 20px;
    
    
  }
  .catalogo{
     background-color: rgb(216,243,220);   
    display:flex;

  }
  h1{
    padding-top: 10px;
    text-align: center;
  }
  
  
  
  a{
    text-decoration: none;
    color: white;
  }

  
  .janela{
   
    
    width: 650px;
    height: 400px;
    padding-top: 40px;
    color: black;
    font-weight: bold;
    margin: 5px;
    border-radius: 10px;
    display: flex;   
    

  }
 
  .imgprd{
    display: flex;
    display:inline ;
    padding-left: 10px;
    padding-right: 10px;

  }
  .titulo{
    text-align: center;
    padding-top: 30px;
    background-color: rgba(211,211,211);
    padding: 20px;
  }
  p{
    text-align: center;
    color:black;
    font-weight: bold;
    font-size: 20px;
  }
  .imgprd > .img{
    
    border-radius: 50%;
   
  }
  .imgprd{
    padding-top: 10px;
    width: 500px;
    margin: 5px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
  }
  