@media screen and (min-width: 700px) {

    
    

    .botao{
        margin-top: 5px;
        width: 200px;
    }
    .item{
        width: 300px;
        height: 100px;
       margin: auto;
    }

}
@media screen and (max-width: 800px) {
    
  
    .imgprd{
        
        margin:10px;
        width: 180px;
        height: 250px;
        padding-top: 5px;
        margin: 5px;
        background-color: white;
        border-radius: 10px;

    }
    .filme-principal{
        height: 2000px;
        display:flex;
        flex-direction: column;
        

    }
   
    .janela{
       
        width: 220px;
        height:260px;
       
        
    }
    .janela2{
       
        margin:5px;
    }
   .janela3{
    
   }
    
        

    .img{
        width: 150px;
        height: 150px;
        
    }
    .container{
        background: url('../img/istockphoto-1144482378-170667a.jpg');
        padding:0px;
    }
    
   
    header .container {
       
       
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        overflow-x: auto;
    }
    nav {
        margin-top: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.418);
        font-size: 10px;
        width: 100%;
        text-align: center;
        padding-left: 0px;
        
        
    }
    .menu{
        
       
        border-radius: 15px;
        margin-right: 4%;
    }
    .bola{
        flex-direction:initial;
    }

    .botao{
        margin-top: 5px;
        padding: 10px;
        width: 150px;
        
    }
    .item{
        width: 300px;
        height: 150px;
       margin: auto;
    }
  
}
@media screen and (min-width: 1000px) {
    .descricao{
        width: 50%;
    }
    .item{
        width: 500px;
        height: 200px;
       margin: auto;
    }
}